.siteheader_content{
  width: 1200px;
  height: 505px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteheader_content_title{
  width: 610px;
  height: 119px;
  color: rgb(54, 55, 56);
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 40px;
}

.siteheader_content_text{
  width: 525px;
  height: 66px;
  color: rgb(107, 107, 108);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.siteheader_content_link{
  width: 125px;
  height: 17px;
  color: rgb(54, 55, 56);
  font-size: 16px;
  font-weight: 700;
}

.siteheader_content_box_img{
  width: 635px;
  height: 505px;
}

.siteheader_content_box_img1{
  width: 0px;
}

.siteheader_content_box_img2{
  width: 0px;
}




@media screen and (max-width:690px) {
  .siteheader_content{
    width: 690px;
    height: 626px;
    flex-direction: column;
    text-align: center;
  }
  .siteheader_content_box_img{
    width: 0px;
  }
  .siteheader_content_box_img1{
    width: 690px;
    height: 314px;
    margin-top: 25px;
  }
  .siteheader_content_title{
    width: 690px;
    height: 54px;
    color: rgb(54, 55, 56);
    font-size: 44px;
    font-weight: 600;
    margin-top: 65px;
  }
  .siteheader_content_text{
    width: 690px;
    height: 65px;
    color: rgb(107, 107, 108);
    font-size: 16px;
    font-weight: 400;
  }
  .siteheader_content_link{
    width: 125px;
    height: 17px;
    color: rgb(54, 55, 56);
    font-size: 16px;
    font-weight: 700;
  }
}


@media screen and (max-width:345px) {
  .siteheader_content{
    width: 345px;
    height: 510px;
    flex-direction: column;
    text-align: left;
  }
  .siteheader_content_title{
    width: 345px;
    font-weight: 500;
    font-size: 40px;
    margin: 0px;
    margin-left: 75px;
    margin-bottom: 60px;
  }
  .siteheader_content_text{
    width: 345px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 75px;
    margin-bottom: 40px;
  }
  .siteheader_content_link{
    width: 125px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 75px;
  }
  .siteheader_content_box_img1{
    width: 0px;
  }
  .siteheader_content_box_img2{
    width: 345px;
    margin-left: 75px;
  }
}